= simple_form_for @product, html: {multipart: true} do |f|
  - if @product.errors.any?
    #errors
      %h2
      = pluralize(@product.errors.count, "error")
      prevented this Product from saving
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.input :image, required: true

  .form-group
    = f.input :title, required: true

  .form-group
    = f.input :description, required: true

  - if admin_signed_in?
    .form-group
      = f.input :pro, as: :boolean, label: "Check this to make it Pro"

  = f.button :submit, class: "btn btn-primary"
