.box.panel.panel-default
  = link_to (image_tag product.image.url), product
  .panel-body
    %h2= link_to product.title, product
    Submitted by
    = product.company
    - if current_seller && product.seller_id == current_seller.id
      .btn-group.pull-right
        = link_to "Edit", edit_product_path(product), class: "btn btn-default"
        = link_to "Delete", product_path(product), method: :delete,
          data: {confirm: "Are you shure?"}, class: "btn btn-default"
