= provide(:title, @product.title)

#product_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.product_image
        = image_tag @product.image.url
      .panel-body
        -if @product.pro
          .pro.pull-right
            Pro
        %h1= @product.title
        %p.description= @product.description
      -if seller_signed_in? || admin_signed_in?
        .panel-footer
          .row
            .col-md-6
              %p.user
              Submitted by
              = @product.company
            .col-md-6
              .btn-group.pull-right
                - if product_owner? || admin_signed_in?
                  = link_to "Edit", edit_product_path, class: "btn btn-default"
                  = link_to "Delete", product_path, method: :delete,
                    data: {confirm: "Are you shure?"}, class: "btn btn-default"
