!!! 5
%html
  %head
    %title= full_title(base_title, yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"type" => "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1", "aria-expanded" => "false"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand= link_to "SkillgridTest", root_path

        - if user_signed_in? || seller_signed_in? || admin_signed_in?
          %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            %ul.nav.navbar-nav.navbar-right
              - if seller_signed_in?
                %li.disabled= link_to "Signed in as Seller", "#"
                %li= link_to "Add product", new_product_path
                %li= link_to "Account", edit_seller_registration_path
              - if user_signed_in?
                %li.disabled= link_to "Signed in as User", "#"
                %li= link_to "Account", edit_user_registration_path
              - if admin_signed_in?
                %li.disabled= link_to "Signed in as Admin", "#"
                %li= link_to "Account", edit_admin_registration_path
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            %ul.nav.navbar-nav.navbar-right
              %li#fat-menu.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  Sign Up
                  %b.caret
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                  %li.dropdown-header Sign Up as:
                  %li.divider{"role"=>"separator"}
                  %li= link_to "User", new_user_registration_path
                  %li.divider{"role"=>"separator"}
                  %li= link_to "Seller", new_seller_registration_path
                  %li.divider{"role"=>"separator"}
                  %li= link_to "Admin", new_admin_registration_path
              %li#fat-menu.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  Sign In
                  %b.caret
                %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1"}
                  %li.dropdown-header Sign In as:
                  %li.divider{"role"=>"separator"}
                  %li= link_to "User", new_user_session_path
                  %li.divider{"role"=>"separator"}
                  %li= link_to "Seller", new_seller_session_path
                  %li.divider{"role"=>"separator"}
                  %li= link_to "Admin", new_admin_session_path
    .container
      - flash.each do |key, msg|
        = content_tag :div, msg, class: "alert #{bootstrap_class_for(key)}"
      = yield
