!!! 5
%html
  %head
    %title= full_title(base_title, yield(:title))
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"type" => "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1", "aria-expanded" => "false"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand= link_to "SkillgridTest", root_path

        - if user_signed_in? || seller_signed_in?
          %div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            %ul.nav.navbar-nav.navbar-right
              / %li.disabled= link_to "Signed in as #{current_user.name}", "#"
              %li= link_to "Add product", new_product_path
              %li= link_to "User Account", edit_user_registration_path
              %li= link_to "Seller Account", edit_seller_registration_path
              %li= link_to "Admin Account", edit_admin_registration_path
              %li= link_to "Sign Out User", destroy_user_session_path, method: :delete
              %li= link_to "Sign Out Seller", destroy_seller_session_path, method: :delete
              %li= link_to "Sign Out Seller", destroy_admin_session_path, method: :delete
        - else
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Sign Up", new_user_registration_path
            %li= link_to "Seller Sign Up", new_seller_registration_path
            %li= link_to "Admin Sign Up", new_admin_registration_path
            %li= link_to "Sign In", new_user_session_path
            %li= link_to "Seller Sign In", new_seller_session_path
            %li= link_to "Admin Sign In", new_admin_session_path
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert alert-info"

      = yield
